body{
    margin: 0;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #6dd5ed, #2193b0);
    background: -o-linear-gradient(left, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

canvas{
    border: 1px solid black;
}

.containerScore{
    position: absolute;
    left: 0px;
    top: 50px;
}

.score{
    font-family: Arial, sans-serif;
    font-size: 100px;
    color: white;
    font-weight: bold;
    display: block;
    position: relative;
    left: 600px;
    top: 50px;
}
